body {
    font-family: Arial, sans-serif;
    background-color: pink;
    text-align: center;
}
header {
    background-color: #ff4081;
    padding: 20px;
    color: white;
    font-size: 24px;
}
.film-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.film-card {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 200px;
    height: 280px; /* Điều chỉnh chiều cao cố định */
    object-fit: cover; /* Cắt ảnh để phù hợp với kích thước */
    border-radius: 10px
}
.film-card img {
    width: 100%;
    border-radius: 10px;
}
footer {
    margin-top: 50px;
    padding: 10px;
    background-color: #ff4081;
    color: white;
    text-align: center;
}
.logo {
    width: 100px; /* Điều chỉnh kích thước logo */
    display: block;
    margin: 0 auto; /* Căn giữa logo */
}

/* Đảm bảo footer luôn ở cuối trang */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Đẩy footer xuống dưới */
}